# Recommandation avec cold start

In [1]:
import pandas as pd

import seaborn as sns

from deep_implicit_feedback_recsys import *

from cold_star_recommender import *

from recommender_evaluation import *

Using TensorFlow backend.

In [2]:
def normalized_results(df, recommender_type):
    df['average_reward_normalized_max'] = df['average_reward'] / df['max_price']
    df['average_reward_normalized_mean'] = df['average_reward'] / df['mean_price']
    df['recommendation'] = recommender_type
    return df

In [21]:
n_loop = 10
n_pred = 1000
online_batch_size = n_pred // 10

user_dim = item_dim = 64
n_hidden = 1
hidden_size = 128
dropout = 0.1
l2_reg = 0

ID = 'MC15CHD1JU24INEKKPU4'

## Mesures d'échantillon

### Implicit Recommender avec nuls sans indicateur, en ligne

In [22]:
%%time
ImplicitRecommenderWithNull_no_indicator_online_df = \
    eval_loop_ColdStartImplicitRecommender(ColdStartRecommenderClass=ColdStartImplicitRecommender,
                                           ImplicitRecommenderClass=ImplicitRecommenderWithNull_no_indicator,
                                           n_loop=n_loop, n_pred=n_pred,
                                           online_batch_size=1,
                                           user_dim=user_dim, item_dim=item_dim,
                                           n_hidden=n_hidden, hidden_size=hidden_size, 
                                           dropout=dropout, l2_reg=l2_reg,
                                           ID=ID)

CPU times: user 1min 30s, sys: 2.41 s, total: 1min 32s
Wall time: 3min 22s

In [23]:
ImplicitRecommenderWithNull_no_indicator_online_df_normalized = normalized_results(ImplicitRecommenderWithNull_no_indicator_online_df,
                                                                                   'Null, en ligne')
ImplicitRecommenderWithNull_no_indicator_online_df_normalized

,max_price,mean_price,average_reward,good_reco_ratio,average_reward_normalized_max,average_reward_normalized_mean,recommendation
0,978.352118,74.679091,280.479096,0.316,0.286685,3.755791,"Null, en ligne"
1,996.667890,80.795164,204.803295,0.243,0.205488,2.534846,"Null, en ligne"
2,994.063143,79.803732,237.878105,0.262,0.239299,2.980789,"Null, en ligne"
3,963.164055,67.485584,227.687375,0.265,0.236395,3.373867,"Null, en ligne"
4,880.329961,76.389319,43.692631,0.254,0.049632,0.571973,"Null, en ligne"
5,989.421048,61.726118,48.924152,0.252,0.049447,0.792601,"Null, en ligne"
6,832.375155,58.347470,233.368616,0.314,0.280365,3.999636,"Null, en ligne"
7,903.843153,57.838391,173.398807,0.218,0.191846,2.997988,"Null, en ligne"
8,965.397552,75.636393,315.420879,0.367,0.326726,4.170226,"Null, en ligne"
9,957.010197,74.185716,44.764948,0.257,0.046776,0.603417,"Null, en ligne"

### Implicit Recommender avec nuls et indicateur special, hors ligne

In [24]:
%%time
ImplicitRecommenderWithNull_df = \
    eval_loop_ColdStartImplicitRecommender(ColdStartRecommenderClass=ColdStartImplicitRecommender,
                                           ImplicitRecommenderClass=ImplicitRecommenderWithNull,
                                           n_loop=n_loop, n_pred=n_pred,
                                           user_dim=user_dim, item_dim=item_dim,
                                           n_hidden=n_hidden, hidden_size=hidden_size, 
                                           dropout=dropout, l2_reg=l2_reg,
                                          ID=ID)

CPU times: user 1min 38s, sys: 2.42 s, total: 1min 40s
Wall time: 2min 51s

In [25]:
ImplicitRecommenderWithNull_df_normalized = normalized_results(ImplicitRecommenderWithNull_df, 'Null special, hors ligne')
ImplicitRecommenderWithNull_df_normalized

,max_price,mean_price,average_reward,good_reco_ratio,average_reward_normalized_max,average_reward_normalized_mean,recommendation
0,990.257605,67.839567,54.143223,0.326,0.054676,0.798107,"Null special, hors ligne"
1,973.987908,73.625922,214.547942,0.240,0.220278,2.914027,"Null special, hors ligne"
2,943.138016,67.771638,265.712053,0.304,0.281732,3.920697,"Null special, hors ligne"
3,931.871287,62.300686,221.323848,0.264,0.237505,3.552511,"Null special, hors ligne"
4,994.632948,74.995065,51.129533,0.257,0.051405,0.681772,"Null special, hors ligne"
5,956.323552,62.658884,215.258131,0.247,0.225089,3.435397,"Null special, hors ligne"
6,940.097942,75.799336,282.577884,0.366,0.300583,3.727973,"Null special, hors ligne"
7,914.222766,72.999897,37.322377,0.266,0.040824,0.511266,"Null special, hors ligne"
8,813.956344,67.878820,32.218503,0.254,0.039583,0.474647,"Null special, hors ligne"
9,974.515894,68.454243,38.243483,0.236,0.039244,0.558672,"Null special, hors ligne"

### Implicit Recommender avec nuls et indicateur special, en ligne

In [26]:
%%time
ImplicitRecommenderWithNull_online_df = \
    eval_loop_ColdStartImplicitRecommender(ColdStartRecommenderClass=ColdStartImplicitRecommender,
                                           ImplicitRecommenderClass=ImplicitRecommenderWithNull,
                                           n_loop=n_loop, n_pred=n_pred,
                                           online_batch_size=1,
                                           user_dim=user_dim, item_dim=item_dim,
                                           n_hidden=n_hidden, hidden_size=hidden_size, 
                                           dropout=dropout, l2_reg=l2_reg,
                                          ID=ID)

CPU times: user 1min 52s, sys: 2.81 s, total: 1min 55s
Wall time: 3min 35s

In [27]:
ImplicitRecommenderWithNull_online_df_normalized = normalized_results(ImplicitRecommenderWithNull_online_df, 'Null special, en ligne')
ImplicitRecommenderWithNull_online_df_normalized

,max_price,mean_price,average_reward,good_reco_ratio,average_reward_normalized_max,average_reward_normalized_mean,recommendation
0,978.188779,75.784563,308.517970,0.344,0.315397,4.070987,"Null special, en ligne"
1,991.330012,68.260146,249.700093,0.280,0.251884,3.658066,"Null special, en ligne"
2,955.714789,70.255655,102.562568,0.383,0.107315,1.459848,"Null special, en ligne"
3,994.068440,89.415887,269.233355,0.295,0.270840,3.011024,"Null special, en ligne"
4,942.082170,63.121125,242.411940,0.296,0.257315,3.840425,"Null special, en ligne"
5,960.998669,79.957158,95.698034,0.364,0.099582,1.196866,"Null special, en ligne"
6,966.136239,64.855745,184.098408,0.213,0.190551,2.838583,"Null special, en ligne"
7,809.433013,62.953491,164.156538,0.247,0.202804,2.607584,"Null special, en ligne"
8,995.371066,71.959412,38.237598,0.235,0.038415,0.531377,"Null special, en ligne"
9,986.164629,66.803295,291.189702,0.322,0.295275,4.358912,"Null special, en ligne"

### Implicit Recommender avec nuls et indicateur special, en ligne version batch

In [28]:
%%time
ImplicitRecommenderWithNull_online_batch_df = \
    eval_loop_ColdStartImplicitRecommender(ColdStartRecommenderClass=ColdStartImplicitRecommender,
                                           ImplicitRecommenderClass=ImplicitRecommenderWithNull,
                                           n_loop=n_loop, n_pred=n_pred,
                                           online_batch_size=online_batch_size,
                                           user_dim=user_dim, item_dim=item_dim,
                                           n_hidden=n_hidden, hidden_size=hidden_size, 
                                           dropout=dropout, l2_reg=l2_reg,
                                          ID=ID)

CPU times: user 1min 55s, sys: 2.56 s, total: 1min 58s
Wall time: 3min 17s

In [29]:
ImplicitRecommenderWithNull_online_batch_df_normalized = \
    normalized_results(ImplicitRecommenderWithNull_online_batch_df, 'Null special, en ligne (batch)')
ImplicitRecommenderWithNull_online_batch_df_normalized

,max_price,mean_price,average_reward,good_reco_ratio,average_reward_normalized_max,average_reward_normalized_mean,recommendation
0,916.678669,77.553185,39.738984,0.267,0.043351,0.512409,"Null special, en ligne (batch)"
1,976.946667,69.983581,247.066321,0.289,0.252896,3.530347,"Null special, en ligne (batch)"
2,883.804623,56.562206,38.866177,0.179,0.043976,0.687140,"Null special, en ligne (batch)"
3,995.878401,87.007940,60.596966,0.285,0.060848,0.696453,"Null special, en ligne (batch)"
4,973.256440,67.855009,259.789630,0.296,0.266928,3.828599,"Null special, en ligne (batch)"
5,998.341435,71.698402,212.225152,0.247,0.212578,2.959970,"Null special, en ligne (batch)"
6,989.898985,82.506246,222.260146,0.248,0.224528,2.693858,"Null special, en ligne (batch)"
7,982.872128,70.711216,53.108947,0.310,0.054034,0.751068,"Null special, en ligne (batch)"
8,987.762863,72.475865,255.244547,0.287,0.258407,3.521787,"Null special, en ligne (batch)"
9,946.884960,61.423174,262.844543,0.298,0.277589,4.279241,"Null special, en ligne (batch)"

### Fully Implicit Recommender avec nuls et indicateur binaire, en ligne version batch

In [30]:
%%time
FullyImplicitRecommenderWithNull_binary_indicator_online_batch_df = \
    eval_loop_ColdStartImplicitRecommender(ColdStartRecommenderClass=ColdStartFullyImplicitRecommender,
                                           ImplicitRecommenderClass=ImplicitRecommenderWithNull_binary_indicator,
                                           n_loop=n_loop, n_pred=n_pred,
                                           online_batch_size=online_batch_size,
                                           user_dim=user_dim, item_dim=item_dim,
                                           n_hidden=n_hidden, hidden_size=hidden_size, 
                                           dropout=dropout, l2_reg=l2_reg,
                                          ID=ID)

CPU times: user 1min 11s, sys: 1.28 s, total: 1min 12s
Wall time: 2min 48s

In [31]:
FullyImplicitRecommenderWithNull_binary_indicator_online_batch_df_normalized = \
    normalized_results(FullyImplicitRecommenderWithNull_binary_indicator_online_batch_df, 'Fully Implicit Null binaire, en ligne (batch)')
FullyImplicitRecommenderWithNull_binary_indicator_online_batch_df_normalized

,max_price,mean_price,average_reward,good_reco_ratio,average_reward_normalized_max,average_reward_normalized_mean,recommendation
0,962.897075,66.894059,166.412824,0.305,0.172825,2.487707,"Fully Implicit Null binaire, en ligne (batch)"
1,828.295135,84.425122,190.706478,0.292,0.230240,2.258883,"Fully Implicit Null binaire, en ligne (batch)"
2,954.655066,73.513830,193.367120,0.277,0.202552,2.630350,"Fully Implicit Null binaire, en ligne (batch)"
3,992.624480,60.709578,157.259325,0.288,0.158428,2.590354,"Fully Implicit Null binaire, en ligne (batch)"
4,974.654114,70.049043,158.384092,0.274,0.162503,2.261046,"Fully Implicit Null binaire, en ligne (batch)"
5,928.103797,72.229078,146.653930,0.262,0.158015,2.030400,"Fully Implicit Null binaire, en ligne (batch)"
6,953.951121,63.661072,158.734552,0.319,0.166397,2.493432,"Fully Implicit Null binaire, en ligne (batch)"
7,998.969659,80.982220,251.995188,0.340,0.252255,3.111735,"Fully Implicit Null binaire, en ligne (batch)"
8,965.932043,78.981864,195.223253,0.306,0.202109,2.471748,"Fully Implicit Null binaire, en ligne (batch)"
9,900.444802,75.880168,168.533559,0.308,0.187167,2.221049,"Fully Implicit Null binaire, en ligne (batch)"

## Aggregation des résutats

In [32]:
all_results = pd.concat( (
    ImplicitRecommenderWithNull_no_indicator_online_df_normalized,
    ImplicitRecommenderWithNull_df_normalized,
    ImplicitRecommenderWithNull_online_df_normalized,
    ImplicitRecommenderWithNull_online_batch_df_normalized,
    
    FullyImplicitRecommenderWithNull_binary_indicator_online_batch_df_normalized,
), axis = 0)

In [33]:
aggregat = all_results.groupby('recommendation').mean()

### Classement ratio de recommandations effectives

In [34]:
col = 'good_reco_ratio' 
aggregat.sort_values(col, ascending=False)\
    .style.apply((lambda x: ['background: lightgreen' if x.name == col else '' for _ in x]))

### Classement par average reward normalisée (max)

In [35]:
col = 'average_reward_normalized_max' 
aggregat.sort_values(col, ascending=False)\
    .style.apply((lambda x: ['background: lightgreen' if x.name == col else '' for _ in x]))

### Classement par average reward normalisée (mean)

In [36]:
col = 'average_reward_normalized_mean' 
aggregat.sort_values(col, ascending=False)\
    .style.apply((lambda x: ['background: lightgreen' if x.name == col else '' for _ in x]))

### Résumé (classé par average_reward)

In [37]:
cm = sns.light_palette("green", as_cmap=True)
col = ['average_reward_normalized_max', 'average_reward_normalized_mean']
aggregat.sort_values(col, ascending=False)\
    .style.background_gradient(cmap=cm).highlight_max(color='red')

La recommendation prenant en charge les nulls semble meilleure. <br>
  1) Null secial en ligne<br>
  2) Null en ligne<br>
  3) Fully Implicit Null binaire, en ligne (batch)<br>

Précédemment : <br>
La recommendation prenant en charge les nulls semble meilleure. <br>
  1) Null secial en ligne (batch) <br>
  2) Fully Implicit Null special, en ligne (batch) <br>
  3) Null, hors ligne <br>